.loginAreaBox .loginRightSide{
	height:26px;
	float:left;
}
.loginAreaBox .loginRightSide .loginFormWrapper form .formCommand, .loginFormWrapper form .forgotPasswordSection, .loginFormWrapper .loginCheck{
	width:288px;
}
.loginAreaBox .loginRightSide .loginFormWrapper form .formCommand{
	width:288px;
	padding-left: 7px;
}
.registrationForm .form .row select {
	width: 360px;
}