/* LAYOUT */

#pr_wrapper {
    width: 700px;
    margin: 0 auto;
}

/* GENERAL HTML ELEMENTS */

/* to standardize cross browser layout styling */

#pr_wrapper H1, #pr_wrapper H2, #pr_wrapper UL, #pr_wrapper LI, #pr_wrapper FORM {
    margin: 0;
    padding: 0;
    border: none;
}

/* HEADER */

#pr_header {
    height: 53px;
    background: #FFF url(../i/pressroom/bg_header.png) repeat-x;
}

#pr_header H1 {
    background: transparent url(../i/pressroom/header_right.png) no-repeat top right;
    text-indent: -9999px;
}

#pr_header A {
    display: block;
    height: 53px;
    background: url(../i/pressroom/header_left.png) no-repeat;
    text-indent: -9999px;
}

/* TABS MENU */

#pr_menu {
    float: left;
    width: 100%;
    height: 43px;
    background: #FFF;
    line-height: normal;
    font-weight: bold;
    font-size: 11px;
    background: url(../i/pressroom/tabsmenu_bg.png) no-repeat 0 35px;
}

#pr_menu UL {
    margin: 0;
    padding: 5px 10px 0 0;
    list-style: none;
}

#pr_menu UL LI {
    display: inline;
    margin: 0;
    padding: 0;
}

#pr_menu A {
    float: left;
    background: url(../i/pressroom/tabsmenu_left.png) no-repeat left top;
    margin: 0 1px 0 0;
    padding: 0 0 0 7px;
    text-decoration: none;
}

#pr_menu A SPAN {
    float: left;
    display: block;
    background: url(../i/pressroom/tabsmenu_right.png) no-repeat right top;
    padding: 10px 15px 6px 6px;
    color: #25384a;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#pr_menu a span {float:none;}
/* End IE5-Mac hack */

#pr_menu a:hover span {
    color: #25384a;
}

#pr_menu a:hover {
    background-position: 0% -31px;
}

#pr_menu a:hover span {
    background-position: 100% -31px;
}

#pr_menu #pr_menuactive A {
    background-position: 0% -31px;
    color: #FF0000;
    background-color: #FFF;
    padding: 0 0 0 7px;
}

#pr_menu #pr_menuactive A SPAN {
    background-position: 100% -31px;
    color: #FF0000;
    background-color: #FFF;
    padding: 10px 15px 7px 6px;
}

/* MAIN ROUNDED FRAME */

#pr_frame {
    background: transparent url(../i/pressroom/bg_bottom_right.png) no-repeat bottom right;
}

#pr_frame #pr_frame2 {
    padding-bottom: 7px;
    background: transparent url(../i/pressroom/bg_bottom_left.png) no-repeat bottom left;
    
}

#pr_frame3 {
    padding-bottom: 5px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}

/* SUB HEADING */

.pr_subheader {
    clear: both;
    margin: 0 3px 5px 3px;
    padding-top: 5px;
    height: 40px;
    background: url(../i/pressroom/subheader_right.png) no-repeat bottom right;
}

.pr_subheader H2 {
    height: 40px;
    background: url(../i/pressroom/subheader_left.png) no-repeat bottom left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #25384a;
}

.pr_subheader H2 SPAN {
    display: block;
    padding-top: 14px;
    padding-left: 35px;
}

/* FEATURED AREA */

.pr_featured {
    clear: both;
    width: 678px;
    margin: 0 0 0 10px;
    padding: 0 0 10px 0;
    border: none;
}

.pr_featured_main {
    float: left;
    width: 440px;
}

.pr_featured_sub {
    float: right;
    width: 223px;
    height: 136px;
    /* hidding subscription image
    background: url(../i/pressroom/bg_subscribeform.png) no-repeat;
    */
}

.pr_subscribe_form {
    padding: 20px 10px 0 20px;
}

.pr_subscribe_form H3 {
    text-transform: uppercase;
}

.pr_subscribe_form INPUT.pr_email_text {
    margin: 0;
    padding: 0;
}

.pr_subscribe_form LABEL {
    font-weight: bold;
}

/* BOX CONTAINER FOR NEWS ITEMS */

.pr_box {
    width: 678px;
    margin: 0 0 0 10px;
    padding: 0;    
    background: url(../i/pressroom/bg_boxtop.png) no-repeat top;
}

.pr_box .pr_box2 {
    padding-bottom: 7px;
    padding-top: 7px;
    background: url(../i/pressroom/bg_boxbottom.png) no-repeat bottom;
}

.pr_boxcontent {
    padding: 5px 10px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}

/* NEWS ITEM CONTENT */


.pr_newsitem {
    margin-bottom: 1em;
}

#pr_content P {
    margin: 0;
    padding: 0;
}

.pr_img {
    float: left;
    width: 173px;
    min-height: 90px;
    *height: 90px;
    background: url(../i/pressroom/bg_imgheadlines.png) no-repeat top left;
    text-align: center;
}

.pr_img IMG {
    margin: 10px 5px;
}

.pr_headlines {
    float: right;
    width: 450px;
    *width: 470px; /* IE WIN hacks */
    padding: 10px;
    background: url(../i/pressroom/bg_excerpt.png) repeat-x top;
}

.pr_headlines A {
    text-decoration: none;
}

.pr_headlines A:hover {
    color: #FF0000;
}

.pr_headlines H3 A {
    color: #353e45;
}

.pr_headlines SMALL {
    display: block;
}

.pr_headlines SMALL A {
    color: #5f8aab;
}

/* NEWS ARCHIVE */

.pr_newsarchive H3 {
    height: 29px;
    background: url(../i/pressroom/bg_headdivision.png) no-repeat top left;
    padding-left: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #004b80;
    text-transform: uppercase;
}

.pr_newsarchive DL {
    margin: 0 0 0.6em 30px;
    padding: 0;
}

.pr_newsarchive DT {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    color: #a03333;
}

.pr_newsarchive DD {
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 18px;
    background: url(../i/pressroom/bullet.png) no-repeat 0 6px;
}

.pr_newsarchive A {
    text-decoration: none;
    color: #000;
}

.pr_newsarchive A:hover {
    color: #FF0000;
}

.pr_newsarchive A SMALL {
    color: #004b80;
    font-size: 12px;
}

/* PROMO VIDEO */

#pr_promovideo {
    width: 440px;
    background: #FFF url(../i/pressroom/bg_video_bottom2.png) no-repeat left bottom;
    padding-bottom: 7px;
}

#pr_promovideo_header {
    padding: 48px 0 9px 25px;
    background: url(../i/pressroom/bg_video_top2.png) no-repeat left top;
}

#pr_promovideo H2 {
    font-size: 14px;
    font-weight: bold;
    color: #353e45;
    
}

#pr_videocontent {
    padding: 0 10px 10px 10px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}

#pr_videocontent TD {
    padding-bottom: 0.5em;
}


TD.pr_video_img {
    vertical-align: top;
}

TD.pr_video_space {
    width: 10px;
}

.pr_video_img IMG {
    border: 0;
    padding: 2px;
    margin: 0;
    border: 2px solid #c9c9c9;
}

.pr_video_desc A {
    text-decoration: none;
}
/*
.pr_video_desc A:hover {
    color: #FF0000;
}
*/
.pr_video_desc H3 A {
    font-size: 12px;
    color: #353e45;
}

.pr_video_desc SMALL {
    display: block;
    color: #5f8aab;
    font-size: 11px;
}

.pr_video_desc P {
    margin-bottom: 10px;
}



/* REQUEST FORM */

#pr_requestform {
    padding: 5px 20px 10px 20px;
    margin: 0;    
}

#pr_requestform DL {
    margin: 1em 0;
    padding: 0;
}

#pr_requestform DT {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}

#pr_requestform DD {
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-bottom: 0.7em;
    padding-left: 15px;
    /*background: url(../i/pressroom/raquo.png) no-repeat 0 6px;*/
}

#pr_requestform DD.pr_submit {
    background: none;
}

/* MISC */

.pr_backtop A {
    float: right;
    display: block;
    height: 19px;
    width: 19px;
    text-indent: -9999px;
    background: url(../i/pressroom/top.png) no-repeat top right;
}

.pr_clear {
    clear: both;
}